In [3]:
# if (!require("BiocManager", quietly = TRUE))
#     install.packages("BiocManager")

# BiocManager::install("TargetDecoy")

'getOption("repos")' replaces Bioconductor standard repositories, see
'?repositories' for details

replacement repositories:
    CRAN: https://cran.r-project.org


Bioconductor version 3.14 (BiocManager 1.30.16), R 4.1.2 (2021-11-01)

Warning message:
“package(s) not installed when version(s) same as current; use `force = TRUE` to
  re-install: 'TargetDecoy'”
Old packages: 'lmtest', 'nloptr'

In [4]:
setwd('/Users/alexis/University of North Carolina at Chapel Hill/Rager, Julia - CEMALB_DataAnalysisPM/Projects/P1001. InVitroWildfire EVProteomics/P1001.3. Analyses/P10013.4. Data Preprocessing/Input')
Output = ('/Users/alexis/University of North Carolina at Chapel Hill/Rager, Julia - CEMALB_DataAnalysisPM/Projects/P1001. InVitroWildfire EVProteomics/P1001.3. Analyses/P10013.4. Data Preprocessing/Output')
cur_date = "032122"

library(readxl)
library(tidyverse)
library(TargetDecoy)


#reading in file
identifiers_df = data.frame(read_excel("Identifiers_030422.xlsx"))
set1_proteome_df = data.frame(read_excel("PC927-Rager_LFQProteome_Results_RawValues_R ready.xlsx", sheet = 1))[,c(1,22:35)]
set2_proteome_df = data.frame(read_excel("PC927-Rager_LFQProteome_Results_RawValues_R ready.xlsx", sheet = 2))[,c(1,22:35)]

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message in fun(libname, pkgname):
“mzR has been built against a different Rcpp version (1.0.8)
than is installed on your system (1.0.8.3). This might lead to errors
when loading mzR. If you encounter such issues, please send a report,
including the output of sessionInfo() to the Bioc support forum at
https://support.bioconductor.org/. For details see also
https://github.com/sneumann/mzR/wiki/mzR-Rcpp-compiler-linker-issue.”

In [2]:
head(identifiers_df)
head(set1_proteome_df)
head(set2_proteome_df)

  IDs_from_Core         Our_Analysis_ID         Set
1 Abundance..Pooled.1   CoCulture_PooledSample1 Set1
2 Abundance..Pooled.2   CoCulture_PooledSample2 Set1
3 Abundance..1..Vehicle CoCulture_VehicleCT1    Set1
4 Abundance..3..Vehicle CoCulture_VehicleCT2    Set1
5 Abundance..5..Vehicle CoCulture_VehicleCT3    Set1
6 Abundance..7..Vehicle CoCulture_VehicleCT4    Set1

  Accession Abundance..Pooled.1 Abundance..Pooled.2 Abundance..1..Vehicle
1 P02769    4.89e+11            4.43e+11            6.26e+11
2 P02751    2.73e+11            2.41e+11            2.24e+11
3 P12763    2.63e+11            2.29e+11            3.10e+11
4 Q2UVX4    5.65e+10            5.15e+10            6.76e+10
5 P98160    2.27e+10            2.04e+10            3.01e+10
6 P12111    2.15e+10            2.03e+10            1.55e+10
  Abundance..3..Vehicle Abundance..5..Vehicle Abundance..7..Vehicle
1 4.38e+11              4.74e+11              3.40e+11
2 2.43e+11              3.24e+11              2.53e+11
3 2.33e+11              2.70e+11              2.42e+11
4 4.31e+10              4.09e+10              4.12e+10
5 1.79e+10              1.40e+10              2.64e+10
6 2.12e+10              2.29e+10              1.99e+10
  Abundance..9..Vehicle Abundance..11..Vehicle Abundance..2..Wood.Smoke
1 4.94e+11              4.85e+11               4.54e+11
2 2.45e+11              1.35e+11               1.68e+11
3 2.71e+11              2.50e+11               2.67e+11
4 4.92e+10              3.53e+10               4.76e+10
5 2.81e+10              2.85e+10               1.97e+10
6 2.00e+10              9.49e+09               1.67e+10
  Abundance..4..Wood.Smoke Abundance..6..Wood.Smoke Abundance..8..Wood.Smoke
1 6.23e+11                 7.37e+11                 5.13e+11
2 2.37e+11                 2.98e+11                 2.54e+11
3 2.86e+11                 3.27e+11                 2.63e+11
4 4.01e+10                 3.68e+10                 6.53e+10
5 1.40e+10                 1.30e+10                 2.19e+10
6 2.09e+10                 2.67e+10                 2.63e+10
  Abundance..10..Wood.Smoke Abundance..12..Wood.Smoke
1 3.96e+11                  6.86e+11
2 1.97e+11                  2.50e+11
3 2.52e+11                  3.03e+11
4 4.45e+10                  4.69e+10
5 2.46e+10                  2.27e+10
6 2.06e+10                  2.60e+10

  Accession Abundance..Pooled.1 Abundance..Pooled.2 Abundance..13..Vehicle
1 P02751    197908273327        215449909749        290377149672
2 P02769    342657042076        370488835120        308967859550
3 P07996     64580519826         73778236233        181775619913
4 Q2UVX4     41255020284         45525199756         55681501380
5 P98160     16164372416         18035124503         20257643320
6 P12763    180364995691        186934859645        159857253388
  Abundance..15..Vehicle Abundance..17..Vehicle Abundance..19..Vehicle
1 237808533258           300713328573           246820946145
2 242917660277           278096520636           259674859546
3 129485605438           169377550217           134685992120
4  35618922477            44222632333            47245712210
5  13577050138            17442737821            24582420164
6 143580491033           158608208515           140452510019
  Abundance..21..Vehicle Abundance..23..Vehicle Abundance..14..Wood.Smoke
1 304313034954           264966884310           243333335207
2 291397652436           563821412595           281882492897
3 114143664541           249366551496           132714564698
4  44043324866            75943777589            53160804546
5  20491703047            36081485773            20355674908
6 145834623969           220324446614           137520441019
  Abundance..16..Wood.Smoke Abundance..18..Wood.Smoke Abundance..20..Wood.Smoke
1 199860505414              279706283336              225170612912
2 732144132018              248045691869              233383724786
3 128084639698              112262919453              111419806864
4  68298716794               48638631002               47654755526
5  16277580495               15654918570               19579785521
6 237042125375              156248949606              124984210103
  Abundance..22..Wood.Smoke Abundance..24..Wood.Smoke
1 229939459846              154501914723
2 349312465553              251094645011
3  73857936963              108923410421
4  35704911241               52145684636
5  16823558423               20030021253
6 171103871588              143324724008

In [3]:
#creating 1 proteome df
set1_proteome_df = set1_proteome_df %>%
    pivot_longer(cols = 2:15, names_to = "IDs_from_Core", values_to = "Value") %>%
    mutate(Set = c("Set1"))

set2_proteome_df = set2_proteome_df %>%
    pivot_longer(cols = 2:15, names_to = "IDs_from_Core", values_to = "Value") %>%
    mutate(Set = c("Set2"))

proteome_df = rbind(set1_proteome_df, set2_proteome_df) %>%
    rename(Protein = Accession)
head(proteome_df)

  Protein IDs_from_Core         Value    Set
1 P02769  Abundance..Pooled.1   4.89e+11 Set1
2 P02769  Abundance..Pooled.2   4.43e+11 Set1
3 P02769  Abundance..1..Vehicle 6.26e+11 Set1
4 P02769  Abundance..3..Vehicle 4.38e+11 Set1
5 P02769  Abundance..5..Vehicle 4.74e+11 Set1
6 P02769  Abundance..7..Vehicle 3.40e+11 Set1

In [4]:
#adding in our own ids
proteome_df = inner_join(identifiers_df, proteome_df) %>%
    select(-IDs_from_Core) %>%
    rename(ID = Our_Analysis_ID)
head(proteome_df)

Joining, by = c("IDs_from_Core", "Set")

  ID                      Set  Protein Value
1 CoCulture_PooledSample1 Set1 P02769  4.89e+11
2 CoCulture_PooledSample1 Set1 P02751  2.73e+11
3 CoCulture_PooledSample1 Set1 P12763  2.63e+11
4 CoCulture_PooledSample1 Set1 Q2UVX4  5.65e+10
5 CoCulture_PooledSample1 Set1 P98160  2.27e+10
6 CoCulture_PooledSample1 Set1 P12111  2.15e+10

# 1. Peptide Normalization

Normalize to total amount of peptide per sample: sum the abundance values for each sample, then calculate the median value across all of the summed abundance values, and calculate the ratio

MEDIAN OR MAX?

In [10]:
normalized_df = proteome_df %>%
    group_by(Set, ID) %>%
    #removing missing data
    drop_na() %>%
    mutate(Summed_Value = sum(Value)) %>%
    #calculating median across all samples but still within each set
    ungroup() %>%
    group_by(Set) %>%
    mutate(Median_of_Sum = median(Summed_Value), Norm_Factor = Summed_Value/ Median_of_Sum, 
           Norm_Value = Value/Norm_Factor) %>%
    select(-c("Summed_Value", "Median_of_Sum", "Norm_Factor"))
head(normalized_df)

  ID                      Set  Protein Value    Norm_Value
1 CoCulture_PooledSample1 Set1 P02769  4.89e+11 430002659858
2 CoCulture_PooledSample1 Set1 P02751  2.73e+11 240062834645
3 CoCulture_PooledSample1 Set1 P12763  2.63e+11 231269324218
4 CoCulture_PooledSample1 Set1 Q2UVX4  5.65e+10  49683333910
5 CoCulture_PooledSample1 Set1 P98160  2.27e+10  19961268668
6 CoCulture_PooledSample1 Set1 P12111  2.15e+10  18906047417

I'm getting values on the same order of magnitude, but not exactly the same as those from Proteome Discoverer.

# 2. Detection Filters (Round 1)

1% peptide/ 5% protein FDR, 
- retain proteins that were identified by at least 2 peptides

NUMBER OF PEPTIDES OR NUMBER OF UNIQUE PEPTIDES?

# 3. Log2 Transformation

In [11]:
transformed_df = normalized_df %>%
    mutate(Transformed_Value = log2(Norm_Value))
head(transformed_df)

  ID                      Set  Protein Value    Norm_Value   Transformed_Value
1 CoCulture_PooledSample1 Set1 P02769  4.89e+11 430002659858 38.64555
2 CoCulture_PooledSample1 Set1 P02751  2.73e+11 240062834645 37.80462
3 CoCulture_PooledSample1 Set1 P12763  2.63e+11 231269324218 37.75078
4 CoCulture_PooledSample1 Set1 Q2UVX4  5.65e+10  49683333910 35.53204
5 CoCulture_PooledSample1 Set1 P98160  2.27e+10  19961268668 34.21648
6 CoCulture_PooledSample1 Set1 P12111  2.15e+10  18906047417 34.13813

# 4. Detection Filters (Round 2)

Filter rows based on valid values: 50 % valid in at least one treatment group (i.e. proteins with values observed in fewer than 50% of replicates (here, 3 reps) in at least 1 condition were eliminated from the data set)

FROM THE ENTIRE DATASET COMPLETELY OR JUST FOR THAT ID/TREATMENT CONDITION?

In [17]:
detection_filter_2 = proteome_df %>%
    #creating 2 count cols: 1st for non-missing data, 2nd for all data
    mutate(data_count = ifelse(is.na(Value), 0, 1), all_count = 1) %>%
    group_by(Set, ID, Protein) %>%
    summarize(ID_Presence = sum(data_count)/ sum(all_count) * 100) %>%
    filter(ID_Presence >= 50) %>%
    arrange(ID_Presence)

head(detection_filter_2)

`summarise()` has grouped output by 'Set', 'ID'. You can override using the `.groups` argument.

  Set  ID                 Protein ID_Presence
1 Set1 CoCulture_Exposed1 P08727  50
2 Set1 CoCulture_Exposed2 P08727  50
3 Set1 CoCulture_Exposed3 P08727  50
4 Set1 CoCulture_Exposed4 P08727  50
5 Set1 CoCulture_Exposed5 P08727  50
6 Set1 CoCulture_Exposed6 P08727  50

# 5. Imputation

Replacing values with random numbers from a normal distribution.

In [24]:
#only keeping proteins that based background filter
preimputed_df = inner_join(detection_filter_2, transformed_df) %>%
   select(-ID_Presence)
head(preimputed_df)

Joining, by = c("Set", "ID", "Protein")

  Set  ID                 Protein Value    Norm_Value Transformed_Value
1 Set1 CoCulture_Exposed1 P08727  1.77e+09 1942579271 30.85533
2 Set1 CoCulture_Exposed2 P08727  2.05e+09 2001828452 30.89867
3 Set1 CoCulture_Exposed3 P08727  2.48e+09 2072503163 30.94873
4 Set1 CoCulture_Exposed4 P08727  1.62e+09 1620000000 30.59335
5 Set1 CoCulture_Exposed5 P08727  1.33e+09 1488847644 30.47155
6 Set1 CoCulture_Exposed6 P08727  3.31e+09 2858782937 31.41275

In [22]:
head(transformed_df)

  ID                      Set  Protein Value    Norm_Value   Transformed_Value
1 CoCulture_PooledSample1 Set1 P02769  4.89e+11 430002659858 38.64555
2 CoCulture_PooledSample1 Set1 P02751  2.73e+11 240062834645 37.80462
3 CoCulture_PooledSample1 Set1 P12763  2.63e+11 231269324218 37.75078
4 CoCulture_PooledSample1 Set1 Q2UVX4  5.65e+10  49683333910 35.53204
5 CoCulture_PooledSample1 Set1 P98160  2.27e+10  19961268668 34.21648
6 CoCulture_PooledSample1 Set1 P12111  2.15e+10  18906047417 34.13813