In [1]:
# if (!require("BiocManager", quietly = TRUE))
#     install.packages("BiocManager")

# BiocManager::install("TargetDecoy")

# if (!require("BiocManager", quietly = TRUE))
#     install.packages("BiocManager")

# BiocManager::install("mzID")

In [2]:
setwd('/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/CEMALB_DataAnalysisPM/Projects/P1001. InVitroWildfire EVProteomics/P1001.3. Analyses/P1001.3.4. Data Processing/Input')
Output = ('/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/CEMALB_DataAnalysisPM/Projects/P1001. InVitroWildfire EVProteomics/P1001.3. Analyses/P1001.3.4. Data Processing/Output')
cur_date = "061622"

library(readxl)
library(tidyverse)
library(mzID)
library(TargetDecoy)
library(imputeLCMD)
library(stats)

#reading in files
identifiers_df = data.frame(read_excel("Identifiers_030422.xlsx"))
set1_proteome_df = data.frame(read_excel("PC927-Rager_LFQProteome_Results_RawValues_R ready.xlsx", sheet = 1))[,c(1,6,22:35)]
set2_proteome_df = data.frame(read_excel("PC927-Rager_LFQProteome_Results_RawValues_R ready.xlsx", sheet = 2))[,c(1,6,22:35)]

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘mzID’


The following object is masked from ‘package:dplyr’:

    id


The following object is masked from ‘package:purrr’:

    flatten


Warning message in fun(libname, pkgname):
“mzR has been built against a different Rcpp version (1.0.8)
than is installed on your system (1.0.8.3). This might lead to errors
when loading mzR. If you encounter such issues, please send a report,
including the output of sessionInfo() to the Bioc support forum at
https://support.bioconductor.org/. For details see also
https://github.com/sneumann/mzR/wiki/mzR-Rcpp-compiler-linker-issue.”
Loading required package: tmvtnorm

Loading required package: mvtnorm

Loading required package: Matrix


Attaching package: ‘Matrix’


The following objects are masked from ‘package:tidyr’:

    expand, pack, unpack


Loading required package: stats4

Loading required package: gmm

Loading required package: sandwich

Loading required package: norm

Loading required package: pcaMethods

Loading required package: Biobase

Loading required package: BiocGenerics


Attaching package: ‘BiocGenerics’


The following objects are masked from ‘package:dplyr’:

    combine, intersect, setdiff, union


The following objects are masked from ‘package:stats’:

    IQR, mad, sd, var, xtabs


The following objects are masked from ‘package:base’:

    Filter, Find, Map, Position, Reduce, anyDuplicated, append,
    as.data.frame, basename, cbind, colnames, dirname, do.call,
    duplicated, eval, evalq, get, grep, grepl, intersect, is.unsorted,
    lapply, mapply, match, mget, order, paste, pmax, pmax.int, pmin,
    pmin.int, rank, rbind, rownames, sapply, setdiff, sort, table,
    tapply, union, unique, unsplit, which.max, which.min


Welcome to Bioconductor

    Vignettes contain introductory material; view with
    'browseVignettes()'. To cite Bioconductor, see
    'citation("Biobase")', and for packages 'citation("pkgname")'.



Attaching package: ‘pcaMethods’


The following object is masked from ‘package:stats’:

    loadings


Loading required package: impute

In [3]:
head(identifiers_df)
head(set1_proteome_df)
head(set2_proteome_df)

  IDs_from_Core         Our_Analysis_ID         Set
1 Abundance..Pooled.1   CoCulture_PooledSample1 Set1
2 Abundance..Pooled.2   CoCulture_PooledSample2 Set1
3 Abundance..1..Vehicle CoCulture_VehicleCT1    Set1
4 Abundance..3..Vehicle CoCulture_VehicleCT2    Set1
5 Abundance..5..Vehicle CoCulture_VehicleCT3    Set1
6 Abundance..7..Vehicle CoCulture_VehicleCT4    Set1

  Accession Number_of_UniquePeptides Abundance..Pooled.1 Abundance..Pooled.2
1 P02769     99                      4.89e+11            4.43e+11
2 P02751    201                      2.73e+11            2.41e+11
3 P12763     34                      2.63e+11            2.29e+11
4 Q2UVX4    162                      5.65e+10            5.15e+10
5 P98160    210                      2.27e+10            2.04e+10
6 P12111    201                      2.15e+10            2.03e+10
  Abundance..1..Vehicle Abundance..3..Vehicle Abundance..5..Vehicle
1 6.26e+11              4.38e+11              4.74e+11
2 2.24e+11              2.43e+11              3.24e+11
3 3.10e+11              2.33e+11              2.70e+11
4 6.76e+10              4.31e+10              4.09e+10
5 3.01e+10              1.79e+10              1.40e+10
6 1.55e+10              2.12e+10              2.29e+10
  Abundance..7..Vehicle Abundance..9..Vehicle Abundance..11..Vehicle
1 3.40e+11              4.94e+11              4.85e+11
2 2.53e+11              2.45e+11              1.35e+11
3 2.42e+11              2.71e+11              2.50e+11
4 4.12e+10              4.92e+10              3.53e+10
5 2.64e+10              2.81e+10              2.85e+10
6 1.99e+10              2.00e+10              9.49e+09
  Abundance..2..Wood.Smoke Abundance..4..Wood.Smoke Abundance..6..Wood.Smoke
1 4.54e+11                 6.23e+11                 7.37e+11
2 1.68e+11                 2.37e+11                 2.98e+11
3 2.67e+11                 2.86e+11                 3.27e+11
4 4.76e+10                 4.01e+10                 3.68e+10
5 1.97e+10                 1.40e+10                 1.30e+10
6 1.67e+10                 2.09e+10                 2.67e+10
  Abundance..8..Wood.Smoke Abundance..10..Wood.Smoke Abundance..12..Wood.Smoke
1 5.13e+11                 3.96e+11                  6.86e+11
2 2.54e+11                 1.97e+11                  2.50e+11
3 2.63e+11                 2.52e+11                  3.03e+11
4 6.53e+10                 4.45e+10                  4.69e+10
5 2.19e+10                 2.46e+10                  2.27e+10
6 2.63e+10                 2.06e+10                  2.60e+10

  Accession Number_of_UniquePeptides Abundance..Pooled.1 Abundance..Pooled.2
1 P02751    193                      197908273327        215449909749
2 P02769     97                      342657042076        370488835120
3 P07996     34                       64580519826         73778236233
4 Q2UVX4    160                       41255020284         45525199756
5 P98160    207                       16164372416         18035124503
6 P12763     32                      180364995691        186934859645
  Abundance..13..Vehicle Abundance..15..Vehicle Abundance..17..Vehicle
1 290377149672           237808533258           300713328573
2 308967859550           242917660277           278096520636
3 181775619913           129485605438           169377550217
4  55681501380            35618922477            44222632333
5  20257643320            13577050138            17442737821
6 159857253388           143580491033           158608208515
  Abundance..19..Vehicle Abundance..21..Vehicle Abundance..23..Vehicle
1 246820946145           304313034954           264966884310
2 259674859546           291397652436           563821412595
3 134685992120           114143664541           249366551496
4  47245712210            44043324866            75943777589
5  24582420164            20491703047            36081485773
6 140452510019           145834623969           220324446614
  Abundance..14..Wood.Smoke Abundance..16..Wood.Smoke Abundance..18..Wood.Smoke
1 243333335207              199860505414              279706283336
2 281882492897              732144132018              248045691869
3 132714564698              128084639698              112262919453
4  53160804546               68298716794               48638631002
5  20355674908               16277580495               15654918570
6 137520441019              237042125375              156248949606
  Abundance..20..Wood.Smoke Abundance..22..Wood.Smoke Abundance..24..Wood.Smoke
1 225170612912              229939459846              154501914723
2 233383724786              349312465553              251094645011
3 111419806864               73857936963              108923410421
4  47654755526               35704911241               52145684636
5  19579785521               16823558423               20030021253
6 124984210103              171103871588              143324724008

In [4]:
# creating 1 proteome df
set1_proteome_df = set1_proteome_df %>%
    pivot_longer(cols = 3:16, names_to = "IDs_from_Core", values_to = "Value") %>%
    mutate(Set = c("Set1"))

set2_proteome_df = set2_proteome_df %>%
    pivot_longer(cols = 3:16, names_to = "IDs_from_Core", values_to = "Value") %>%
    mutate(Set = c("Set2"))

proteome_df = rbind(set1_proteome_df, set2_proteome_df) %>%
    rename(Protein = Accession)
head(proteome_df)

  Protein Number_of_UniquePeptides IDs_from_Core         Value    Set
1 P02769  99                       Abundance..Pooled.1   4.89e+11 Set1
2 P02769  99                       Abundance..Pooled.2   4.43e+11 Set1
3 P02769  99                       Abundance..1..Vehicle 6.26e+11 Set1
4 P02769  99                       Abundance..3..Vehicle 4.38e+11 Set1
5 P02769  99                       Abundance..5..Vehicle 4.74e+11 Set1
6 P02769  99                       Abundance..7..Vehicle 3.40e+11 Set1

In [5]:
#adding in our own ids
proteome_df = inner_join(identifiers_df, proteome_df) %>%
    select(-IDs_from_Core) %>%
    rename(ID = Our_Analysis_ID, Unique_Peptides = Number_of_UniquePeptides) %>%
    #creating a col that denotes the general treatment to remove proteins within those treatment groups
    mutate(Treatment = ifelse(grepl("CoCulture_PooledSample", ID), "CoCulture_PooledSample",
                             ifelse(grepl("CoCulture_Vehicle", ID), "CoCulture_Vehicle",
                                   ifelse(grepl("CoCulture_Exposed", ID), "CoCulture_Exposed",
                                         ifelse(grepl("TriCulture_PooledSample", ID), "TriCulture_PooledSample",
                                             ifelse(grepl("TriCulture_Vehicle", ID), "TriCulture_Vehicle",
                                                   ifelse(grepl("TriCulture_Exposed", ID), "TriCulture_Exposed",
                                         
                                         NA)))))))
head(proteome_df)

Joining, by = c("IDs_from_Core", "Set")

  ID                      Set  Protein Unique_Peptides Value
1 CoCulture_PooledSample1 Set1 P02769   99             4.89e+11
2 CoCulture_PooledSample1 Set1 P02751  201             2.73e+11
3 CoCulture_PooledSample1 Set1 P12763   34             2.63e+11
4 CoCulture_PooledSample1 Set1 Q2UVX4  162             5.65e+10
5 CoCulture_PooledSample1 Set1 P98160  210             2.27e+10
6 CoCulture_PooledSample1 Set1 P12111  201             2.15e+10
  Treatment
1 CoCulture_PooledSample
2 CoCulture_PooledSample
3 CoCulture_PooledSample
4 CoCulture_PooledSample
5 CoCulture_PooledSample
6 CoCulture_PooledSample

In [6]:
# intial number of proteins prior to filtering
length(unique(proteome_df$Protein))

[1] 2167

# 1. Peptide Normalization

Normalize to total amount of peptide per sample: sum the abundance values for each sample, then calculate the median value across all of the summed abundance values, and calculate the ratio

In [7]:
normalized_df = proteome_df %>%
    group_by(Set, ID) %>%
    #removing missing data
    drop_na() %>%
    mutate(Summed_Value = sum(Value)) %>%
    #calculating median across all samples but still within each set
    ungroup() %>%
    group_by(Set) %>%
    mutate(Median_of_Sum = median(Summed_Value), Norm_Factor = Summed_Value/ Median_of_Sum, 
           Norm_Value = Value/Norm_Factor) %>%
    select(-c("Summed_Value", "Median_of_Sum", "Norm_Factor"))
head(normalized_df)

  ID                      Set  Protein Unique_Peptides Value
1 CoCulture_PooledSample1 Set1 P02769   99             4.89e+11
2 CoCulture_PooledSample1 Set1 P02751  201             2.73e+11
3 CoCulture_PooledSample1 Set1 P12763   34             2.63e+11
4 CoCulture_PooledSample1 Set1 Q2UVX4  162             5.65e+10
5 CoCulture_PooledSample1 Set1 P98160  210             2.27e+10
6 CoCulture_PooledSample1 Set1 P12111  201             2.15e+10
  Treatment              Norm_Value
1 CoCulture_PooledSample 430002659858
2 CoCulture_PooledSample 240062834645
3 CoCulture_PooledSample 231269324218
4 CoCulture_PooledSample  49683333910
5 CoCulture_PooledSample  19961268668
6 CoCulture_PooledSample  18906047417

I'm getting values on the same order of magnitude, but not exactly the same as those from Proteome Discoverer.

# 2. Log2 Transformation

Did this step later in the imputation functions.

# 3. Detection Filters (Round 1 & 2)

Round 1 - Unable to replicate the 1% peptide/ 5% protein FDR, so we'll just retain proteins that were identified by at least 2 peptides.

Round 2 - Filter rows based on valid values: 50 % valid in at least one treatment group (i.e. proteins with values observed in fewer than 50% of replicates (here, 3 reps) in at least 1 condition were eliminated from the dataset)

In [21]:
removed_proteins_df = proteome_df %>%
    filter(Unique_Peptides < 2) %>%
    #creating 2 count cols: 1st for non-missing data, 2nd for all data
    mutate(data_count = ifelse(is.na(Value), 0, 1), all_count = 1) %>%
    group_by(Set, Treatment, Protein) %>%
    summarize(Protein_Presence = sum(data_count)/ sum(all_count) * 100) %>%
    filter(Protein_Presence < 50) %>%
    arrange(Protein_Presence) %>%
    #just want a column that specifies the treatment and exposure separately to more easily remove proteins later
    separate(Treatment, c("Treatment", "Exposure"), sep = "_") %>%
    select(-Exposure)

head(removed_proteins_df)

#removed_proteins = unique(removed_proteins_df$Protein)

#number of proteins removed
length(unique(removed_proteins_df$Protein))

`summarise()` has grouped output by 'Set', 'Treatment'. You can override using
the `.groups` argument.

  Set  Treatment Protein Protein_Presence
1 Set1 CoCulture O00142  0
2 Set1 CoCulture O00571  0
3 Set1 CoCulture O43405  0
4 Set1 CoCulture O43488  0
5 Set1 CoCulture O43704  0
6 Set1 CoCulture O60271  0

[1] 290

In [22]:
# removing those 290 proteins from the entire dataset (but within each set)

#finding proteins that exist only in the proteome_df but not the removed proteins_df
`%notin%` <- Negate(`%in%`)
detection_filter_df = #proteome_df %>% filter(Protein %notin% removed_proteins)
    anti_join(proteome_df, removed_proteins_df)
head(detection_filter_df)

#number of proteins kept
length(unique(detection_filter_df$Protein))

Joining, by = c("Set", "Protein", "Treatment")

  ID                      Set  Protein Unique_Peptides Value
1 CoCulture_PooledSample1 Set1 P02769   99             4.89e+11
2 CoCulture_PooledSample1 Set1 P02751  201             2.73e+11
3 CoCulture_PooledSample1 Set1 P12763   34             2.63e+11
4 CoCulture_PooledSample1 Set1 Q2UVX4  162             5.65e+10
5 CoCulture_PooledSample1 Set1 P98160  210             2.27e+10
6 CoCulture_PooledSample1 Set1 P12111  201             2.15e+10
  Treatment
1 CoCulture_PooledSample
2 CoCulture_PooledSample
3 CoCulture_PooledSample
4 CoCulture_PooledSample
5 CoCulture_PooledSample
6 CoCulture_PooledSample

[1] 2167

In [30]:
# TRY FIXING ISSUES WITH THIS HERE!!
proteome_df %>% filter(Protein == "O00142")

   ID                      Set  Protein Unique_Peptides Value
1  CoCulture_PooledSample1 Set1 O00142  1               9198050.0
2  CoCulture_PooledSample2 Set1 O00142  1               6740428.0
3  CoCulture_VehicleCT1    Set1 O00142  1                      NA
4  CoCulture_VehicleCT2    Set1 O00142  1                351741.6
5  CoCulture_VehicleCT3    Set1 O00142  1               1522181.0
6  CoCulture_VehicleCT4    Set1 O00142  1                      NA
7  CoCulture_VehicleCT5    Set1 O00142  1               1629705.0
8  CoCulture_VehicleCT6    Set1 O00142  1               1094203.0
9  CoCulture_Exposed1      Set1 O00142  1                      NA
10 CoCulture_Exposed2      Set1 O00142  1                      NA
11 CoCulture_Exposed3      Set1 O00142  1                      NA
12 CoCulture_Exposed4      Set1 O00142  1                      NA
13 CoCulture_Exposed5      Set1 O00142  1                      NA
14 CoCulture_Exposed6      Set1 O00142  1                      NA
   Treatment
1  CoCulture_PooledSample
2  CoCulture_PooledSample
3  CoCulture_Vehicle
4  CoCulture_Vehicle
5  CoCulture_Vehicle
6  CoCulture_Vehicle
7  CoCulture_Vehicle
8  CoCulture_Vehicle
9  CoCulture_Exposed
10 CoCulture_Exposed
11 CoCulture_Exposed
12 CoCulture_Exposed
13 CoCulture_Exposed
14 CoCulture_Exposed

In [23]:
# check to ensure I've kept the correct number of proteins -REMOVE??
length(unique(proteome_df$Protein)) - length(unique(detection_filter_df$Protein))

[1] 0

# 5. QRILC Imputation

QRILC replaces data with left-censored data from a Gaussian distribution.

In [24]:
# going back and retrieve proteins with missing data not in the removed proteins df
missing_data_df = proteome_df %>%
    filter(Unique_Peptides > 2) %>%
    #creating 2 count cols: 1st for non-missing data, 2nd for all data
    mutate(data_count = ifelse(is.na(Value), 0, 1), all_count = 1) %>%
    group_by(Set, Treatment, Protein) %>%
    mutate(Protein_Presence = sum(data_count)/ sum(all_count) * 100) %>%
    filter(Protein_Presence > 50, is.na(Value)) %>%
    # adding a col for the unimputed normalized value
    mutate(Norm_Value = NA)

missing_data_df = missing_data_df[,c(1,2,6,3,5,10)]
head(missing_data_df)

  ID                   Set  Treatment         Protein Value Norm_Value
1 CoCulture_VehicleCT1 Set1 CoCulture_Vehicle Q8IZ83  NA    NA
2 CoCulture_VehicleCT1 Set1 CoCulture_Vehicle P02668  NA    NA
3 CoCulture_VehicleCT1 Set1 CoCulture_Vehicle P23921  NA    NA
4 CoCulture_VehicleCT1 Set1 CoCulture_Vehicle O60841  NA    NA
5 CoCulture_VehicleCT1 Set1 CoCulture_Vehicle Q8NC51  NA    NA
6 CoCulture_VehicleCT1 Set1 CoCulture_Vehicle P50570  NA    NA

In [25]:
# number of proteins with missing data that will be added back to the dataset
length(unique(missing_data_df$Protein))

[1] 210

In [26]:
# adding in normalized values to the filtered df
# left join returns all the records from the first table along with matching records from the second
detection_filter_normalized_df = left_join(detection_filter_df, normalized_df) 

preimputed_df = rbind(detection_filter_normalized_df %>% 
                      select(-Unique_Peptides), missing_data_df) %>%
    unique()


# for some reason this protein had 2 entries, so removing the entries with all the missing data
single_protein_missing_data = preimputed_df %>%
    filter(is.na(Value) , Protein == "P08727")
preimputed_df = anti_join(preimputed_df, single_protein_missing_data)

preimputed_df = preimputed_df[, c(1,2,5,3,4,6)]
head(preimputed_df)

Joining, by = c("ID", "Set", "Protein", "Unique_Peptides", "Value",
"Treatment")
Joining, by = c("ID", "Set", "Protein", "Value", "Treatment", "Norm_Value")

  ID                      Set  Treatment              Protein Value
1 CoCulture_PooledSample1 Set1 CoCulture_PooledSample P02769  4.89e+11
2 CoCulture_PooledSample1 Set1 CoCulture_PooledSample P02751  2.73e+11
3 CoCulture_PooledSample1 Set1 CoCulture_PooledSample P12763  2.63e+11
4 CoCulture_PooledSample1 Set1 CoCulture_PooledSample Q2UVX4  5.65e+10
5 CoCulture_PooledSample1 Set1 CoCulture_PooledSample P98160  2.27e+10
6 CoCulture_PooledSample1 Set1 CoCulture_PooledSample P12111  2.15e+10
  Norm_Value
1 430002659858
2 240062834645
3 231269324218
4  49683333910
5  19961268668
6  18906047417

In [27]:
#first splitting df to impute within set and treatment (not imputing pooled treatment groups)
preimputed_df_split = preimputed_df %>%
    group_by(Set, Treatment) %>%
    group_split()

coculutre_exp_preimputed_df = preimputed_df_split[[1]]
coculutre_pooled_preimputed_df = preimputed_df_split[[2]]
coculutre_vehicleCT_preimputed_df = preimputed_df_split[[3]] %>%
    #for some reason this protein had another duplicate value, so removing it here
    filter(Protein != "P08727" | Value != 17368304)
triculutre_exp_preimputed_df = preimputed_df_split[[4]]
triculutre_pooled_preimputed_df = preimputed_df_split[[5]]
triculutre_vehicleCT_preimputed_df = preimputed_df_split[[6]]

In [28]:
coculutre_exp_preimputed_df %>%
    #creating 2 count cols: 1st for non-missing data, 2nd for all data
    mutate(data_count = ifelse(is.na(Value), 0, 1), all_count = 1) %>%
    group_by(Set, Treatment, Protein) %>%
    summarize(Protein_Presence = sum(data_count)/ sum(all_count) * 100) %>%
    filter(Protein_Presence < 50) %>%
    arrange(Protein_Presence)

`summarise()` has grouped output by 'Set', 'Treatment'. You can override using
the `.groups` argument.

    Set  Treatment         Protein Protein_Presence
1   Set1 CoCulture_Exposed O00142  0
2   Set1 CoCulture_Exposed O00571  0
3   Set1 CoCulture_Exposed O00629  0
4   Set1 CoCulture_Exposed O15231  0
5   Set1 CoCulture_Exposed O43405  0
6   Set1 CoCulture_Exposed O43488  0
7   Set1 CoCulture_Exposed O43704  0
8   Set1 CoCulture_Exposed O60271  0
9   Set1 CoCulture_Exposed O60826  0
10  Set1 CoCulture_Exposed O60888  0
11  Set1 CoCulture_Exposed O75146  0
12  Set1 CoCulture_Exposed O75348  0
13  Set1 CoCulture_Exposed O75475  0
14  Set1 CoCulture_Exposed O75874  0
15  Set1 CoCulture_Exposed O76003  0
16  Set1 CoCulture_Exposed O76094  0
17  Set1 CoCulture_Exposed O95347  0
18  Set1 CoCulture_Exposed O95407  0
19  Set1 CoCulture_Exposed O95450  0
20  Set1 CoCulture_Exposed O95810  0
21  Set1 CoCulture_Exposed P00492  0
22  Set1 CoCulture_Exposed P01008  0
23  Set1 CoCulture_Exposed P01889  0
24  Set1 CoCulture_Exposed P02511  0
25  Set1 CoCulture_Exposed P02549  0
26  Set1 CoCulture_Exposed P02649  0
27  Set1 CoCulture_Exposed P04080  0
28  Set1 CoCulture_Exposed P04632  0
29  Set1 CoCulture_Exposed P06454  0
30  Set1 CoCulture_Exposed P07951  0
⋮   ⋮    ⋮                 ⋮       ⋮
279 Set1 CoCulture_Exposed Q07666  33.33333
280 Set1 CoCulture_Exposed Q12873  33.33333
281 Set1 CoCulture_Exposed Q12891  33.33333
282 Set1 CoCulture_Exposed Q12907  33.33333
283 Set1 CoCulture_Exposed Q13263  33.33333
284 Set1 CoCulture_Exposed Q13404  33.33333
285 Set1 CoCulture_Exposed Q13618  33.33333
286 Set1 CoCulture_Exposed Q13620  33.33333
287 Set1 CoCulture_Exposed Q14258  33.33333
288 Set1 CoCulture_Exposed Q15393  33.33333
289 Set1 CoCulture_Exposed Q5SW79  33.33333
290 Set1 CoCulture_Exposed Q5TEC6  33.33333
291 Set1 CoCulture_Exposed Q7KZ85  33.33333
292 Set1 CoCulture_Exposed Q7L2H7  33.33333
293 Set1 CoCulture_Exposed Q7L7L0  33.33333
294 Set1 CoCulture_Exposed Q86X55  33.33333
295 Set1 CoCulture_Exposed Q8IUE6  33.33333
296 Set1 CoCulture_Exposed Q8N8S7  33.33333
297 Set1 CoCulture_Exposed Q8NC51  33.33333
298 Set1 CoCulture_Exposed Q8WXI3  33.33333
299 Set1 CoCulture_Exposed Q92900  33.33333
300 Set1 CoCulture_Exposed Q96EP5  33.33333
301 Set1 CoCulture_Exposed Q96L92  33.33333
302 Set1 CoCulture_Exposed Q96T76  33.33333
303 Set1 CoCulture_Exposed Q99471  33.33333
304 Set1 CoCulture_Exposed Q9NQ88  33.33333
305 Set1 CoCulture_Exposed Q9NTK5  33.33333
306 Set1 CoCulture_Exposed Q9NZ32  33.33333
307 Set1 CoCulture_Exposed Q9UBW8  33.33333
308 Set1 CoCulture_Exposed Q9UNN8  33.33333

In [95]:
# QRILC
QRILC_imputation = function(dataset){
    wider_dataset = dataset %>%
        select(-c("Set", "Value", "Treatment")) %>%
        pivot_wider(names_from = Protein, values_from = Norm_Value) %>%
        select(-ID)
    
    #normalizing data since that's what the QRILC function wants
    QRILC_prep = wider_dataset %>%
         mutate_all(., function(x) log2(x)) %>%
         as.matrix()

    imputed_QRILC_object = impute.QRILC(QRILC_prep, tune.sigma = 0.1)
    QRILC_log2_df = data.frame(imputed_QRILC_object[1]) 
    
    #converting back the original scale
    QRILC_df = QRILC_log2_df %>%
        mutate_all(., function(x) 2^x - 1)
            
    #adding back in ID, Tx, and Set columns
    final_pivoted_column_number = dim(QRILC_df)[2] + 3
    imputed_dataset = data.frame(cbind(dataset[1:6,1:3], QRILC_df)) %>%
        pivot_longer(cols = 4:all_of(final_pivoted_column_number), names_to = "Protein", values_to = "Value")
    
    return(imputed_dataset)
}

# calling fn
coculutre_exp_imputed_df = QRILC_imputation(coculutre_exp_preimputed_df)
coculutre_vehicleCT_imputed_df = QRILC_imputation(coculutre_vehicleCT_preimputed_df)
triculutre_exp_imputed_df = QRILC_imputation(triculutre_exp_preimputed_df)
triculutre_vehicleCT_imputed_df = QRILC_imputation(triculutre_vehicleCT_preimputed_df)

# A tibble: 6 × 1,539
   P02769  P02751  P12763  Q2UVX4  P98160  P12111  Q28085  Q0IIK2 P21333  O00468
    <dbl>   <dbl>   <dbl>   <dbl>   <dbl>   <dbl>   <dbl>   <dbl>  <dbl>   <dbl>
1 4.98e11 1.84e11 2.93e11 5.22e10 2.16e10 1.83e10 5.37e10 4.41e10 6.35e9 1.65e10
2 6.08e11 2.31e11 2.79e11 3.92e10 1.37e10 2.04e10 4.25e10 5.16e10 3.15e9 1.84e10
3 6.16e11 2.49e11 2.73e11 3.08e10 1.09e10 2.23e10 3.93e10 5.69e10 4.72e9 1.37e10
4 5.13e11 2.54e11 2.63e11 6.53e10 2.19e10 2.63e10 4.79e10 4.14e10 6.47e9 1.4 e10
5 4.43e11 2.21e11 2.82e11 4.98e10 2.75e10 2.31e10 4.33e10 4.20e10 9.94e9 1.81e10
6 5.92e11 2.16e11 2.62e11 4.05e10 1.96e10 2.25e10 4.33e10 5.06e10 7.08e9 1.70e10
# … with 1,529 more variables: `P00761 SWISS-PROT:P00761` <dbl>, P35555 <dbl>,
#   P02452 <dbl>, P34955 <dbl>, Q15582 <dbl>, P07996 <dbl>, P08123 <dbl>,
#   `ENSEMBL:ENSBTAP00000007350` <dbl>, Q15149 <dbl>, Q3SZ57 <dbl>,
#   `ENSEMBL:ENSBTAP00000024146` <dbl>, O15230 <dbl>, P01030 <dbl>,
#   Q14315 <dbl>, P35579 <dbl>, Q16787 <dbl>, Q28194 <dbl>, P08670 <dbl>,
#   Q1A7A4 <dbl>, P08603 <dbl>, `ENSEMBL:ENSBTAP00000018229` <dbl>,
#   P04264 <dbl>, Q09666 <dbl>, Q13751 <dbl>, P35556 <dbl>, Q3MHN5 <dbl>, …

ERROR: Error in checkSymmetricPositiveDefinite(sigma): sigma all diagonal elements must be positive

In [13]:
imputed_df = rbind(coculutre_exp_imputed_df, coculutre_vehicleCT_imputed_df, triculutre_exp_imputed_df,
                  triculutre_vehicleCT_imputed_df)
head(imputed_df)

  ID                 Set  Treatment         Protein Value
1 CoCulture_Exposed1 Set1 CoCulture_Exposed P19012   476617.6
2 CoCulture_Exposed1 Set1 CoCulture_Exposed P19013  1077007.5
3 CoCulture_Exposed1 Set1 CoCulture_Exposed O43897  2245997.6
4 CoCulture_Exposed1 Set1 CoCulture_Exposed P20700  2388716.6
5 CoCulture_Exposed1 Set1 CoCulture_Exposed P22102  1790626.6
6 CoCulture_Exposed1 Set1 CoCulture_Exposed O75367   874143.2

# 6. PCA

Using PCA to identify and remove outliers.

In [ ]:
pca_df = imputed_df %>%
    pivot_wider(col = )

In [14]:
#exporting results
write.csv(imputed_df, paste0(Output,"/", cur_date, "_Imputed_Proteomics_Data.csv"), row.names = FALSE)